<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Happenings at Helsinki</a>
            <p class="text-light">Powerd by: http://open-api.myhelsinki.fi/</p>
            </div>
        </div>
        </nav>